.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black
}

.logo {
    width: 70px;
}

.nav-items>ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}


.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}

.search {
    padding: 10px;
}

.restro-card {
    margin: 5px;
    padding: 5px;
    width: 229px;
}

.restro-container {
    display: flex;
    flex-wrap: wrap;
}

.restro-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.restro-logo {
    width: 100%;
}

.filter {
    display: flex;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
    float: right;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 60px 5px;
    padding: 5px;
    width: 229px;
    height: 350px;
    background-color: #f0f0f0;
}

.login {
    margin: 10px 20px;
    cursor: pointer;
}

.user-card {
    padding: 10px;
    border: 1px solid black;
}